@page "/"



<AuthorizeView>
    <Authorized>
        <h1>BIENVENIDO A  AMT</h1>
        <h3>AGENCIA METROPOLITANA DE TRANCITO</h3>

    </Authorized>
    <NotAuthorized>
        <h1>BIENVENIDO A AMT</h1>
        <h3>AGENCIA METROPOLITANA DE TRANCITO</h3>
        <br />
        <p>
            No has iniciado sesion, porfavor Inicia Sesion para continuar.
        </p>
    </NotAuthorized>
</AuthorizeView>